---
import BlogCard from "../components/blog_card.astro";
import Layout from "../layouts/Layout.astro";
const allPosts = Object.values(
  import.meta.glob("./blog/*.md", { eager: true })
);

const stringToSeconds = (str: string): number => {
  const splitted = str.split(".");
  const day = splitted[0];
  const month = splitted[1];
  const year = splitted[2];
  const stringDate = `${month}-${day}-${year}`;
  console.log(stringDate);
  return Date.parse(stringDate);
};

allPosts
  .sort(
    (a: any, b: any) =>
      stringToSeconds(a.frontmatter.pubDate) -
      stringToSeconds(b.frontmatter.pubDate)
  )
  .reverse();
---

<Layout>
  <h1>Blog</h1>

  <ul class="blog-post-card-container">
    {
      allPosts.map((post: any, index) =>
        index === 0 ? (
          <li class="blog-post spotlight">
            <BlogCard blogpost={post} spotlight={true} />
          </li>
        ) : (
          <li class="blog-post">
            <BlogCard blogpost={post} />
          </li>
        )
      )
    }
  </ul>
</Layout>

<style>
  h1 {
    text-align: center;
  }

  .blog-post-card-container {
    display: flex;
    padding: 0;
    box-sizing: border-box;
    margin-inline: 20%;

    @media (max-width: 1440px) {
      margin-inline: 15%;
    }

    @media (max-width: 800px) {
      margin-inline: 0%;
    }

    row-gap: 1rem;
    column-gap: 2rem;
    flex-wrap: wrap;
    .blog-post {
      list-style: none;

      &.spotlight {
        flex: 1 0 100%;
      }
    }
  }
</style>
